.*/*
!.github/*
!.vscode/settings.json
.idea
Cargo.lock
target
os/src/link_app.S
os/last-*
os/Cargo.lock
os/.gdb_history
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
*.bak

user/*
